@import "~@fider/assets/styles/variables.scss";

.c-powered {
  text-align: center;
  font-size: 11px;
  a {
    color: get("colors.gray.700");
  }
  a:hover {
    color: get("colors.gray.900");
  }
}
